.ipynb_checkpoints 
halpha_emitters.org_archive
HYDRA_errorsall_flag.csv
HYDRA-HDBcluster0.ecsv
*~
*#
\#*
/#*
.#*
*.ecsv
Fig_spectra/*.pdf
hydra_Halpha-coorLamost.dat
hydra_Halpha-coorSloan.dat
Match_Halpha_starsHdbscan.dat
*.csv
*.fits
*.fz
3fiter/Spectra_claudia/*pdf
3fiter/Spectra_fornax/*pdf 
3filter_flat0/Spectra_16r/*pdf
3filter_noflat/Spectra_fornax/*pdf
3fiter/Spectra_fornax3/*pdf
*.eps
*.ps
example.bib
example.png
*.dvi
*.log
*.blg
*.out
*.aux
mnras.cls
mnras.bst
legacy
mnras_guide.pdf
mnras_guide.tex
mnras_template.tex
README.txt
3filter_noflat/Spectra-Sdss/*.pdf
3filter_noflat/Spectra_fornax/*.pdf
3filter_noflat/Spectra_fornax3/*.pdf
3filter_noflat/Spectra_NGC3347/*.pdf
3filter_noflat/BadPho-LD/*.pdf
3filter_noflat/GoodPhot-LD/*.pdf
Claudia-objects/
iDR3_n4/Figs-Sspec/*.pdf
Notebook/*.jpg
iDR3_n4/SDSS-spectra-all/*.pdf
iDR3_n4/LAMOST-spectra-all/*.pdf
iDR3_n4/LAMOST-spectra-all/*.png
iDR3_n4/LAMOST-spectra-all/*.txt
iDR3_n4/SDSS-spectra-all/*_url.txt
iDR3_n4/SDSS-spectra-all/coor-halpha*
iDR3_n4/SDSS-spectra-all-again/*




