halpha_emitters.org_archive
HYDRA_errorsall_flag.csv
HYDRA-HDBcluster0.ecsv
*~
*#
\#*
/#*
.#*
*.ecsv
Fig_spectra/*.pdf
hydra_Halpha-coorLamost.dat
hydra_Halpha-coorSloan.dat
Match_Halpha_starsHdbscan.dat